.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100dvb;
  width: 150px;
  background: #050d28;
  background: linear-gradient(
    150deg,
    rgb(0, 6, 23) 0%,
    rgba(0, 16, 52, 0.622) 70%
  );

  a {
    text-decoration: none;
    color: white;
  }
}
